body {
    margin: auto;
}

h1 {
    font-family: 'Exo', sans-serif;
    color: #ffffff;
    border-bottom: solid white 2px;
    position: relative;
    right: -430px;
    top: -75px;
    z-index: 4;
    width: 300px;
}

hr {
    border-top: solid white 5px;
    position: relative;
    right: -300px;
    top: -50px;
    z-index: 4; 
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #8b0000;
    position: relative;
    right: -300px;
    top: -50px;
    z-index: 4;
}

#introBox {
    margin-top: 400px;
}

#portfoliobtn {
    background: transparent;
    border: solid darkgrey 2px;
    color: white;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    padding: 5px 15px 5px 15px;
    position: relative;
    right: -512px;
    z-index: 4;
}

#portfoliobtn:hover {
    background: #777;
    -webkit-animation: jello-horizontal 1s both;
    animation: jello-horizontal 1s both;
}

#nav {
    display: none;
    z-index: 4;
    position: relative;
    height: 610px;
    width: 350px;
    left: -100px;
}

.navtext {
    font-family: 'Exo', sans-serif;
    position: relative;
    top: 250px;
    text-align: center;
}

#navbtnBox {
    width: 130px;
    position: relative;
    top: 300px;
    right: -25px;
}

.navbtn {
    background: transparent;
    margin: 8px;
    border: solid #777 1px;
    font-family: 'Exo', sans-serif;
    color: #ffffff;
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#myPicture {
    height: 200px;
    width: 200px;
    top: 20px;
    right: 75px;
    border-radius: 100px;
}

#mainContent {
    display: none;
    overflow-y: auto;
    position: relative;
    top: -610px;
    right: -175px;
    z-index: 4;
    background:rgba(255,255,255,0.5);
    height: 610px;
    width: 925px;
    	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.header {
    font-family: 'Exo', sans-serif;
    position: relative;
    top: 40px;
    right: -100px;
}

#verticalLine {
    position: relative;
    top: 50px;
    right: -100px;
    border-left: solid #696969 4px;
    height: 800px;
}

.logos {
    position: relative;
    top: -810px;
    right: -760px;
    width: 50px;
    height: 50px;
    margin: 4px;
}

#aboutMeBox {
    -webkit-animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#pictureBackground {
    top: 200px;
    width: 300px;
    height: 400px;
}

.aboutMePictures {
    position: relative;
    top: -800px;
    right: -120px;
    opacity: 0.7;
    margin: 2px;
    width: 250px;
    height: 300px;
}

#projectBox {
    display: none;
    -webkit-animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#contactBox {
    display: none;
    -webkit-animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#resumeBox {
    display: none;
    -webkit-animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}